
body{
    background-image: url(1009720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    border-color: red;
    border-radius: 10px;
}

.item:nth-child(1) {
    width: 100%;
    height: 100px;
    order: 0;
    flex-grow: 0;
    align-self: stretch;
    
}
img{
    width: 200px;
    height: 100px;
}
ul{
    margin-top: 28px;
    margin-left: 700px;
}
ul li{
    text-align: right;
    padding: 10px;
    
    float: left;
    
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul li a:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
}
h1{
    color: white;
}
.captain {
      float: left;
      width: 30%;
      height: 500px;
      overflow: hidden;
      border: 2px solid #333;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      color: brown;
    }

    .captain img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .team{
        display: block;
        width: 100%;
    }